<div>
    <div class="row" style="margin-bottom: 5px;">
        <div class="col-sm-6"><b>Search by title:</b></div>
        <div class="col-sm-6"><input data-ng-model="data.search.title" data-ng-change="resetPagination()"></div>
    </div>

    <div class="row" style="margin-bottom: 5px;">
        <div class="col-sm-6"><b>Search by genre:</b></div>
        <div class="col-sm-6"><input data-ng-model="data.search.genre" data-ng-change="resetPagination()"></div>
    </div>

    <div class="row" style="margin-bottom: 5px;">
        <div class="col-sm-6"><b>Search by subgenre:</b></div>
        <div class="col-sm-6"><input data-ng-model="data.search.subgenre" data-ng-change="resetPagination()"></div>
    </div>

    <div class="row" style="margin-bottom: 5px;">
        <div class="col-sm-6"><b>Search by year:</b></div>
        <div class="col-sm-6"><input data-ng-model="data.search.year" data-ng-change="resetPagination()"></div>
    </div>

    <div class="row" style="margin-bottom: 5px;">
        <div class="col-sm-6"><b>Search by actor:</b></div>
        <div class="col-sm-6"><input data-ng-model="data.search.actors" data-ng-change="resetPagination()"></div>
    </div>
</div>